.product-list-container {
  //background-color: red;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  grid-gap: 10px;
  //align-content: center;
  justify-content: space-around;
}